<!DOCTYPE html>
<html>
<head>

	<title>О нас</title>

    <div th:replace="~{commons :: head}"></div>
</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">
	<div th:replace="~{commons :: nav}"></div>
	
	<div class="close-btn fa fa-times"></div>

	<!-- INNER CONTENT -->
	<section id="content">
		<div class="page_header page_header2 text-center">
			<h2>О нас</h2>
			<h3>Мы являемся лучшей парикмахерской</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="/img/AboutUs.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-info">
					<h2>История парикмахерской</h2>
					<p>В самом сердце города Орска находится парикмахерская "Виола", которая за годы своего существования стала настоящей местной достопримечательностью. Этот семейный бизнес был основан семьей Костоланских и стал символом высокого качества и профессионализма.
					</p>
					<p>Основатели, Людмила и Екатерина Костоланские, начали свое дело с небольшого салона на центральной улице. Благодаря своему таланту и трудолюбию, сестры быстро завоевали признание среди жителей города. Их первая парикмахерская стала местом, куда приходили не только за стильной стрижкой, но и за душевным общением и уютной атмосферой.
					</p>
				    <p>Обе парикмахерские "Виола" славятся не только мастерством своих владельцев, но и теплой, семейной атмосферой. Людмила и Екатерина Костоланские превратили свой бизнес в место, где клиенты чувствуют себя как дома, окруженные заботой и вниманием. Благодаря этому "Виола" остается одной из самых популярных и любимых парикмахерских в Орске, куда люди возвращаются снова и снова.
					</p>
					<h3>Почему вы должны постричься у нас?</h3>
					<div class="space20"></div>
					<div class="panel-group" id="accordion-e1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-e1" href="#collapseOne">
										Индивидуальный подход и профессионализм
									<span class="fa fa-angle-down"></span>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<p>
											В парикмахерской "Виола" каждый клиент получает уникальное обслуживание. Людмила и Екатерина Костоланские, с их многолетним опытом и глубоким пониманием модных тенденций, внимательно выслушают ваши пожелания и предложат именно тот стиль, который подчеркнет вашу индивидуальность. Они используют только качественные материалы и инструменты, чтобы гарантировать безупречный результат. 
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-e1" href="#collapseTwo">
										Теплая и уютная атмосфера
									<span class="fa fa-angle-right"></span>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										В наших парикмахерских вы почувствуете себя как дома. Мы создаем атмосферу, в которой каждый клиент может расслабиться и насладиться процессом. Дружелюбные и внимательные мастера всегда готовы предложить чашечку чая или кофе, а также интересную беседу, чтобы ваше посещение было не только полезным, но и приятным.
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-e1" href="#collapseThree">
										Современные и классические решения
									<span class="fa fa-angle-right"></span>
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										Независимо от того, предпочитаете ли вы классические стрижки или стремитесь к чему-то новому и креативному, в "Виоле" найдется идеальное решение для вас. Людмила специализируется на элегантных и традиционных образах, а Екатерина – на смелых и модных стрижках. Мы всегда в курсе последних трендов и готовы предложить вам самые актуальные варианты, которые подчеркнут вашу индивидуальность и стиль.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="clearfix space70"></div>
	<!-- FOOTER -->
	 <div th:replace="~{commons :: footer}"></div>
	
	<!-- FOOTER -->
</div>


<div th:replace="~{commons :: js}"></div>

</body>
</html>
