<!DOCTYPE html>
<html lang="ru_RU">
<head>

	<!-- Meta -->
	<title>Контакты</title>
	<div th:replace="~{commons :: head}"></div>
	
</head>
<body class="multi-page">

<div id="wrapper" class="wrapper">

	<!-- HEADER -->
	
	<div th:replace="~{commons :: nav}"></div>
	<div class="close-btn fa fa-times"></div>
	
	<!-- INNER CONTENT -->
	<section id="content">
		<div class="content-blog">
			<div class="text-center">
				<h2>Контакты</h2>
				
				
			</div>
			<div class="container">
				<div class="row-content">					 <!--style="justify-content: center; display: flex;"-->
					<div class="col-md-8 mx-auto">
						<div class="space20"></div>
						<ul class="contact-info">
							<li>
								<p><strong><i class="fa fa-envelope"></i> Написать нам:</strong> <span><a href="#">Viola@support.ru</a></span></p>
							</li>
							<li>
								<p><strong><i class="fa fa-phone"></i> Телефон:</strong> <span>+7 (905) 881-10-27</span></p>
							</li>
							<li>
								<p><strong><i class="fa fa-phone"></i> Телефон №2:</strong> <span>+7 (905) 887-88-80</span></p>
							</li>
							<li>
								<p><strong><i class="fa-angle-right"></i> Адрес:</strong> <span>улица Просвещения, 56, посёлок Вокзальный, Орск, Оренбургская область, 462408</span><p>
							</li>
							<a class="map-wh">
								<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A42be3de4d8d25e2b0c2e0bee561bf42e8ec6f35a77d2e5084c1cb17c3f2ccc09&amp;width=730&amp;height=200&amp;lang=ru_RU&amp;scroll=true"></script>
							</a>
							<li>
								<p><strong><i class="fa fa-map-marker"></i> Адрес №2:</strong> <span>Станционная улица, 12, посёлок Вокзальный, Орск, Оренбургская область 462408<span></p>
							</li>
							<a class="map-wh">
								<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3f63787c860bc16943eb99340bf89a7bcf790f61301af35e55e31239c6e3dff7&amp;width=730&amp;height=200&amp;lang=ru_RU&amp;scroll=true"></script>
							</a>
							
						</ul>
					</div>
				</div>
				<!--<div class="row">
			    
			    <div class="space20"></div>
				<div class="center">
					<span class="align-left">
					
				</span>
				<span class="align-right">
					
				</span>
				</div>
                
				</div>-->
				
			</div>
			
		</div>
		
		
	</section>

	

	<div class="clearfix space70"></div>
	<!-- FOOTER -->
	 <div th:replace="~{commons :: footer}"></div>
	
	<!-- FOOTER -->
</div>


<div th:replace="~{commons :: js}"></div>


</body>
</html>
