<!doctype html>
<html lang="en">

<head>
    <title>Вход в систему</title>
    <div th:replace="~{commons :: head}"></div>

<style type="text/css">
    .logregform input, .billing-details input {
    width: 100%;
}
label {
    width: 100%;
 }
   </style>
   
   

</head>

<body>
    
    <!-- Иконки уведомлений -->
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</symbol>
		<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
		  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
		</symbol>
		<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</symbol>
	  </svg>

	<div th:replace="~{commons :: nav}"></div>
	
<!-- SHOP CONTENT -->
	<section id="content">
		<div class="content-blog">
			<div class="container">
				<div class="row">
					<div class="page_header text-center">
						<h2>Аккаунт</h2>
						<p>Войдите для полного доступа</p>
						<div th:if="${error}" class="alert alert-danger d-flex align-items-center" id="success-alert" role="alert">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
							<span>Ошибка авторизации. Проверьте правильность логина или пароля</span>
						</div>

						<!--<div th:if="${success}" class="alert alert-info text-center" th:text="${success}">Ошибка регистрации. Проверьте уникальность имени и попробуйте еще раз</div>
					-->
					<div th:if="${errorMessage}" class="alert alert-danger d-flex align-items-center" role="alert">
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
						<span th:text="${errorMessage}"></span>
					</div>
					<div th:if="${successMessage}" class="alert alert-success d-flex align-items-center" role="alert">	
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
						<span th:text="${successMessage}"></span>
					</div>
					</div>
					<div class="col-md-12">
					<div class="row shop-login">
					<div class="col-md-6">
						<div class="box-content">
							<h3 class="heading text-center">Я уже регистрировался</h3>
							<div class="clearfix space40"></div>
							<form class="logregform" action="/login1" method="post">
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Логин</label>
											<input type="text" name="username" class="form-control" required id="loginUsername">
										</div>
									</div>
								</div>
								<div class="clearfix space20"></div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Пароль</label>
											<input type="password" name="password" class="form-control" required>
										</div>
									</div>
								</div>
								<div class="clearfix space20"></div>
								<div class="row">
									<div class="col-md-6">
									</div>
									<div class="col-md-6">
										<button type="submit" class="button btn-md pull-right">Войти</button>
									</div>
								</div>
							</form>
							
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="box-content">
							<h3 class="heading text-center">Регистрация</h3>
							<div class="clearfix space40"></div>
							<form class="logregform" action="/registration" method="post">
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите ФИО</label>
				                            <input type="text" name="fio" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Дату рождения</label>
				                            <input type="date" name="dateBorn" min="1800-01-01" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите номер телефона</label>
											<input id="online_phone" name="phone" type="tel" maxlength="50"
											autofocus="autofocus" required="required"
											value="+7(___)___-__-__"
											pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
											placeholder="+7(___)___-__-__">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите адрес электронной почты</label>
				                            <input type="email" name="email" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите логин</label>
				                            <input type="text" name="username" required id="registerUsername">
										</div>
									</div>
								</div>
								<div class="clearfix space20"></div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Пароль</label>
											<input type="password" name="password" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="space20"></div>
										<button type="submit" class="button btn-md pull-right">Регистрация</button>
									</div>
								</div>
							</form>
							
						</div>
					</div>
				</div>


							
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="~{commons :: js}"></div>

	<script>
        // Скрипт скрытия уведомлений
        setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.transition = 'opacity 0.5s ease';
                alert.style.opacity = '0';
                setTimeout(function() {
                    alert.style.display = 'none';
                }, 500);
            });
        }, 5000); // 5 сек
    </script>
	<script>
	function restrictRussianLetters(input) {
		input.addEventListener('input', function () {
			this.value = this.value.replace(/[а-яА-ЯёЁ]/g, '');
		});
	}

	var loginUsername = document.getElementById('loginUsername');
	var registerUsername = document.getElementById('registerUsername');

	restrictRussianLetters(loginUsername);
	restrictRussianLetters(registerUsername);
    </script>
	<script type="text/javascript">
  function setCursorPosition(pos, e) {
    e.focus();
    if (e.setSelectionRange) e.setSelectionRange(pos, pos);
    else if (e.createTextRange) {
      var range = e.createTextRange();
      range.collapse(true);
      range.moveEnd("character", pos);
      range.moveStart("character", pos);
      range.select()
    }
  }

  function mask(e) {
    //console.log('mask',e);
    var matrix = this.placeholder,// .defaultValue
        i = 0,
        def = matrix.replace(/\D/g, ""),
        val = this.value.replace(/\D/g, "");
    def.length >= val.length && (val = def);
    matrix = matrix.replace(/[_\d]/g, function(a) {
      return val.charAt(i++) || "_"
    });
    this.value = matrix;
    i = matrix.lastIndexOf(val.substr(-1));
    i < matrix.length && matrix != this.placeholder ? i++ : i = matrix.indexOf("_");
    setCursorPosition(i, this)
  }
  window.addEventListener("DOMContentLoaded", function() {
    var input = document.querySelector("#online_phone");
    input.addEventListener("input", mask, false);
    input.focus();
    setCursorPosition(3, input);
  });
</script>

	
</body>

</html>